fastapi==0.115.7
uvicorn==0.34.0
requests
python-multipart
transformers==4.48.1
torch==2.6.0
datasets==3.2.0
python-dotenv==1.0.1
PyPDF2==3.0.1
huggingface_hub==0.28.1
hypercorn==0.13.1 

# TEST
pytest==7.1.2